@model NumericSequenceWeb.Models.ResultViewModel
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

@if (Model.Number != 0)
{
    <p>All</p>

foreach (var v in Model.All)
 {
     <p>@v</p>
 }

    <p>Odd</p>
foreach (var v in Model.Odd)
 {
     <p>@v</p>
    }

    <p>Multipler</p>
    foreach (var v in Model.Multipler)
    {
        <p>@v</p>
    }

    <p>Fibonacci</p>
foreach (var v in Model.Fibonacci)
 {
     <p>@v</p>
 }
}